{{> headermain}}
<head><title>Hastkala</title></head>
    <a href="/products">
    <div class="banner mb-1">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/images/carousel/mn-carousel_warlitales.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/carousel/mn-carousel_jar.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/carousel/mn-carousel_banana.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/carousel/mn-carousel_wall.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/carousel/mn-carousel_jeans.webp" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    </a>
    <section class="index-section">
        <div class="page-content">
            <div class="custom-content">
                <div class="custom-item">
                    <h1>HANDCRAFTED IN INDIA</h1>
                    <p style="text-align: center;">Hastkala is an online craft brand started in 2012 with a vision to promote crafts globally &amp; help small artisans based in different parts of India earn a living out of it. Born Out Of passion And love For handicraft products exclusively
                        handpicked From rural artisans And designers From different parts Of India.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="index-section">
        <div class="page-content">
            <div class="container collection">
                <div class="row">
                    <div class="col-md-4 col-6 collection-item">
                        <a class="collection-link">
                            <div class="collection-item_overlay img-fluid" style="background-image: url('./assets/images/index_assets/spice.jpg');height: 360px;"></div>
                            <div class="collection-item_title-wrapper">
                                <div class="collection-item_title">
                                    <h3 class="hvr-pulse-grow">Spice Boxes</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-6 collection-item">
                        <a class="collection-link">
                            <div class="collection-item_overlay img-fluid" style="background-image: url('./assets/images/index_assets/cups.jpg');height: 360px;"></div>
                            <div class="collection-item_title-wrapper">
                                <div class="collection-item_title">
                                    <h3 class="hvr-pulse-grow">Cups & Mugs</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-6 collection-item">
                        <a class="collection-link">
                            <div class="collection-item_overlay img-fluid" style="background-image: url('./assets/images/index_assets/plates.jpg');height: 360px;"></div>
                            <div class="collection-item_title-wrapper">
                                <div class="collection-item_title">
                                    <h3 class="hvr-pulse-grow">Plates and Platters</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-6 collection-item">
                        <a class="collection-link">
                            <div class="collection-item_overlay img-fluid" style="background-image: url('./assets/images/index_assets/pots.jpg');height: 360px;"></div>
                            <div class="collection-item_title-wrapper">
                                <div class="collection-item_title">
                                    <h3 class="hvr-pulse-grow">Pot & Planters</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-6 collection-item">
                        <a class="collection-link">
                            <div class="collection-item_overlay img-fluid" style="background-image: url('./assets/images/index_assets/wall_decor.jpg');height: 360px;"></div>
                            <div class="collection-item_title-wrapper">
                                <div class="collection-item_title">
                                    <h3 class="hvr-pulse-grow">Unique Wall Hanging</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-6 collection-item">
                        <a class="collection-link">
                            <div class="collection-item_overlay img-fluid" style="background-image: url('./assets/images/index_assets/night_lapms.jpg');height: 360px;"></div>
                            <div class="collection-item_title-wrapper">
                                <div class="collection-item_title">
                                    <h3 class="hvr-pulse-grow">Table Lapms</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="index-section d-none d-md-block d-lg-block">
        <div class="container-fluid">
            <div class="page-content">
                <div class="custom-item">
                    <h1>The Hastkala Way</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="art1">
                        <div id="lady_container">
                            <img id="lady_img" src="./assets/images/index_assets/resizeimage-8women.png" alt="lady">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <ul class="list-inline path__way">
                        <li class="list-inline-item path-way">
                            <img src="./assets/images/index_assets/identi_art.png" class="img-fluid ml-3">
                            <h2>Identify talented <br>artisans</h2>
                        </li>
                        <li class="list-inline-item path-way">
                            <img src="./assets/images/index_assets/arrow_mcr_.png" class="img-fluid ml-3 pb-5">
                        </li>
                        <li class="list-inline-item path-way">
                            <img src="./assets/images/index_assets/collab_des.png" class="img-fluid ml-3">
                            <h2>Collaborate on <br> unique designs</h2>
                        </li>
                        <li class="list-inline-item path-way">
                            <img src="./assets/images/index_assets/arrow_mcr_.png" class="img-fluid ml-3 pb-5">
                        </li>
                        <li class="list-inline-item path-way">
                            <img src="./assets/images/index_assets/create_qua.png" class="img-fluid ml-3">
                            <h2>Create pieces of <br>superior quality</h2>
                        </li>
                        <li class="list-inline-item path-way">
                            <img src="./assets/images/index_assets/arrow_mcr_.png" class="img-fluid ml-3 pb-5">
                        </li>
                        <li class="list-inline-item path-way">
                            <img src="./assets/images/index_assets/delivery.png" class="img-fluid ml-3">
                            <h2>Bring handicrafts<br> to the discerning <br>customer</h2>
                        </li>
                        <li class="list-inline-item path-way">
                            <img src="./assets/images/index_assets/arrow_mcr_.png" class="img-fluid ml-3 pb-5">
                        </li>
                        <li class="list-inline-item path-way">
                            <img src="./assets/images/index_assets/subs_rural.png" class="img-fluid ml-3">
                            <h2>Help in sustaining the<br> craft and the rural <br>artisan communities</h2>
                        </li>

                        </li>
                    </ul>
                </div>
                <div clas="col-md-2">
                    <div class="art3">
                        <div id="man_container">
                            <img id="man_img" src="./assets/images/index_assets/Untitled-design-he.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="index-section">
        <div class="page-content">
            <div class="section-title">What's New
                <a href="/products" class="view-all">View All</a>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#">
                            <img src="assets/images/index_assets/miniature_pots.jpg" class="img-fluid mb-1 pro_img">
                        </a>
                        <div class="desc-cat">
                            <h5>The Warli Tales' Hand-Painted Miniature Pots In Terracotta (Set of 2, White)</h5>
                        </div>
                        <div class="price-warli text-center">
                            <p class="price_item-del">Rs. 999 </p>
                            <p class="price-item"> &nbsp;&nbsp; Rs. 799 Sale</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <img src="assets/images/index_assets/ceremicpot1.jpg" class="img-fluid mb-1 pro_img">
                        </a>
                        <div class="desc-cat">
                            <h5>The Warli Tales' Hand-Painted Vases In Terracotta (Set of 3, White)</h5>
                        </div>
                        <div class="price-warli text-center">
                            <p class="price_item-del">Rs. 1499 </p>
                            <p class="price-item"> &nbsp;&nbsp; Rs. 1299 Sale</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <img src="./assets/images/index_assets/vases_terracotta_big.jpg" class="img-fluid mb-1 pro_img">
                        </a>
                        <div class="desc-cat">
                            <h5>The Warli Tales' Hand-Painted Vases In Terracotta (Set of 3, White)</h5>
                        </div>
                        <div class="price-warli text-center">
                            <p class="price_item-del">Rs. 1999 </p>
                            <p class="price-item"> &nbsp;&nbsp; Rs. 1699 Sale</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <img src="./assets/images/index_assets/vases_terracotta.jpg" class="img-fluid mb-1 pro_img">
                        </a>
                        <div class="desc-cat">
                            <h5>The Warli Tales' Hand-Painted Vases In Terracotta (Set of 3, White)</h5>
                        </div>
                        <div class="price-warli text-center">
                            <p class="price_item-del">Rs. 1849 </p>
                            <p class="price-item"> &nbsp;&nbsp; Rs. 1499 Sale</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="index-section">
        <div class="page-content">
            <div class="section-title">Trending Now
                <a href="/products" class="view-all">View All</a>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#">
                            <img src="assets/images/index_assets/trencoloured_fish.jpg" class="img-fluid mb-1 pro_img">
                        </a>
                        <div class="desc-cat">
                            <h5>Coloured Fish" Handmade & Hand-Painted Garden Decorative Wall Hanging In Terracotta</h5>
                        </div>
                        <div class="price-warli text-center">
                            <p class="price_item-del">Rs. 999 </p>
                            <p class="price-item"> &nbsp;&nbsp; Rs. 799 Sale</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <img src="assets/images/index_assets/trenspice_box.jpg" class="img-fluid mb-1 pro_img">
                        </a>
                        <div class="desc-cat">
                            <h5>Twelve Blends" Spice Box With 12 Containers & Spoon In Sheesham Wood</h5>
                        </div>
                        <div class="price-warli text-center">
                            <p class="price_item-del">Rs. 1499 </p>
                            <p class="price-item"> &nbsp;&nbsp; Rs. 1299 Sale</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <img src="./assets/images/index_assets/trenswinging_huy.jpg" class="img-fluid mb-1 pro_img">
                        </a>
                        <div class="desc-cat">
                            <h5>Swinging Hut' Handmade & Hand-painted Bird House In Terracotta (6 Inch)</h5>
                        </div>
                        <div class="price-warli text-center">
                            <p class="price_item-del">Rs. 1999 </p>
                            <p class="price-item"> &nbsp;&nbsp; Rs. 1699 Sale</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <img src="./assets/images/index_assets/trentissue_holder.jpg" class="img-fluid mb-1 pro_img">
                        </a>
                        <div class="desc-cat">
                            <h5>Bird on Fence Handcrafted Tissue Holder In Iron</h5>
                        </div>
                        <div class="price-warli text-center">
                            <p class="price_item-del">Rs. 1849 </p>
                            <p class="price-item"> &nbsp;&nbsp; Rs. 1499 Sale</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="getstarted text-center">
        <center>
            <div class="container-fluid">
                <h3 style="font-weight: 800;margin-top: 10px;color:lightpink;">Grow your business here</h3>
                <h1 class="d-md-block d-none d-lg-block">Add your Handcraft Shop now! It's Free!</h1>
                <h5 class="d-block d-md-none d-lg-none">Add your Handcraft Shop now! It's Free!</h5>

                <button type="button" class="btn getstart mt-3 btn-lg btn-block hvr-icon-bounce">
                    Get Started <i class="fa fa-play-circle ml-3 hvr-icon"></i>
                </button>
            </div>
        </center>
    </section>
    <section class="index-section">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row mb-5">
                    <div class="col-md-6 feature-row__image-wrapper" id="FeatureRowImageWrapper">
                        <img id="FeatureRowImageWrapper" class="feature-row__image" src="assets/images/index_assets/customer_reviews.jpg">
                    </div>
                    <div class="col-md-6 feature-row__item feature-row__text feature-row__text--left">
                        <h2 class="h3">Customer Reviews</h2>
                        <div class="rte featured-row__subtext">
                            <p>The Indian Spice box is indeed a many splendored thing. Experience tells us that there are certain things we need in our kitchens that will make our lives easier while cooking. </p>
                            <p>-Roopal @foodfashionfestive</p>
                        </div>
                        <a href="#" class="view-all">View All</a>
                    </div>
                </div>
                <div class="row mt-3 mb-5">
                    <div class="col-md-6 feature-row__item feature-row__text feature-row__text--left">
                        <h2 class="h3">Customer Reviews</h2>
                        <div class="rte featured-row__subtext">
                            <p>Our mission is to curate beautifully handcrafted products from across the globe. We preserve the traditional art of India handed down to us by our ancestors, helping our talented artisans gain global recognition through the
                                products that can be used on a daily basis in the urban market. Our vision is to be an International Brand synonym to craft. We are well on our way with a solemn goal to provide economic upliftment of the rural artisans
                                that are involved in preserving the heritage of the handicrafts industry in India.</p>
                        </div>
                    </div>
                    <div class="col-md-6 feature-row__image-wrapper" id="FeatureRowImageWrapper">
                        <img id="FeatureRowImageWrapper" class="feature-row__image" src="assets/images/index_assets/our_mission.png">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 feature-row__image-wrapper" id="FeatureRowImageWrapper">
                        <img id="FeatureRowImageWrapper" class="feature-row__image" src="assets/images/index_assets/assured_quality.png">
                    </div>
                    <div class="col-md-6 feature-row__item feature-row__text feature-row__text--left">
                        <h2 class="h3">Our Mission</h2>
                        <div class="rte featured-row__subtext">
                            <p>Well, ExclusiveLane.com ensures to satiate your appetite with the most exclusive handicraft collection. The widest assortment of products brings to you plethora of online options that’ll save you from toils of labour while
                                you scout through the market. Lend your home an erratic European style, elegant Italian look or a traditional Indian look with collection that touches every theme in its exclusive form. The amazing deals and offers and
                                easy return policy permits you to get your hands on anything which you have never dreamt of.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="index-section">
        <div class="page-content">
            <div style="text-align: center;width: 100%; padding: 16px; font-weight: 700; font-size: 2rem;">Shop by brand
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-6">
                    <a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#">
                        <img class="d-block mx-auto" src="./assets/images/logo/adidas.png" style="width: 150px;" alt="Brand">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#">
                        <img class="d-block mx-auto" src="./assets/images/logo/puma.png" style="width: 150px;" alt="Brand">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#">
                        <img class="d-block mx-auto" src="./assets/images/logo/hing.png" style="width: 150px;" alt="Brand">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#">
                        <img class="d-block mx-auto" src="./assets/images/logo/olumbia.png" style="width: 150px;" alt="Brand">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#">
                        <img class="d-block mx-auto" src="./assets/images/logo/nike.png" style="width: 150px;" alt="Brand">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#">
                        <img class="d-block mx-auto" src="./assets/images/logo/herme.png" style="width: 150px;" alt="Brand">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#">
                        <img class="d-block mx-auto" src="./assets/images/logo/fila.png" style="width: 150px;" alt="Brand">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                    <a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" href="#">
                        <img class="d-block mx-auto" src="./assets/images/logo/brooks.png" style="width: 150px;" alt="Brand">
                    </a>
                </div>
            </div>
        </div>
    </section>
{{> footera}}