{{> header}}
<section class="index-section mb-5" style="color: #5fbeaa !important; background-color: #313a43 !important;">
        <div class="page-content">
            <div class="mb-1 text-center">
                <h1 class="font-weight-bold">ORDER #1701</h1>
                <p>Order #1701 was placed on 02/12/2020 and is currently Being prepared.

                </p>
            </div>
        </div>

    </section>
    <section>
        <div class="container">
            <div class="row mb-5 ">
                <div class="col-lg-8 col-xl-9 overflow-auto">
                    <table class="table">
                        <thead style="color: #5fbeaa !important; background-color: #313a43 !important;">
                            <tr>
                                <th class="text-center ">ITEM</th>
                                <th></th>
                                <th>PRICE</th>
                                <th>QUANTITY</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">
                                    <img src="./assets/images/products/EL-005-058_A_720x.jpg " style="width: 100px;height: 100px;">
                                    <td> Sheesham Wood Square Spice Box With Spoon (9 Containers)</td>
                                </td>
                                <td>Rs.1500</td>
                                <td>01</td>
                                <td>Rs.1500
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <img src="./assets/images/products/EL-005-614_B_1024x1024@2x.jpg " style="width: 100px;height: 100px;">
                                    <td> Swinging Cottage' Handmade & Hand-painted Bird House In Terracotta (6 Inch)</td>
                                </td>
                                <td>Rs.750</td>
                                <td>02</td>
                                <td>Rs.1500
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <img src="./assets/images/products/EL-005-614_C_1024x1024@2x.jpg" style="width: 100px;height: 100px;">
                                    <td> Swinging Cottage' Handmade & Hand-painted Bird House In Terracotta (6 Inch)</td>
                                </td>
                                <td>Rs.1500</td>
                                <td>04</td>
                                <td>Rs.6000
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-3 col-lg-4 mb-5">

                    <div class="card border-secondary">
                        <center> <img class="card-img-top mt-5 mr-5 ml-5 mb-2 p-0" src="./assets/images/user/images.jpg" alt="">
                            <p class="mb-0">Jane Doe</p>
                            <p class="text-muted mt-0">Georgia,Washington D.C</p>
                        </center>
                        <div class="card-body p-0">
                            <a href="./userpanel_orders.php" class="btn w-100 border-user m-0 text-left active-panel"><i class="mx-2 fa fa-shopping-bag" aria-hidden="true"></i> Orders <div class="order-number float-right text-center">5</div></a>
                            <a href="./userpanel_profile.php" class="btn w-100 border-user m-0 text-left bg-light"><i class="mx-2 fa fa-user-o" aria-hidden="true"></i> Profile</a>
                            <a href="./userpanel_invoice.php" class="btn w-100 border-user m-0 text-left bg-light"><i class="mx-2 fa fa-map-pin" aria-hidden="true"></i> Addresses</a>
                            <a href="./index.php" class="btn w-100 border-user m-0 text-left bg-light"><i class="mx-2 fa fa-sign-out" aria-hidden="true"></i> Logout</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 bg-light p-3">
                    <strong class="mb-3">ORDER SUMMARY</strong>
                    <p class="my-3">Shipping and additional costs are calculated based on values you have entered.</p>
                    <span>Order Subtotal</span><span class="float-right">Rs.9000</span>
                    <hr>
                    <span>Order Subtotal</span><span class="float-right">Rs.9000</span>
                    <hr>
                    <span>Order Subtotal</span><span class="float-right">Rs.9000</span>
                    <hr>

                </div>
                <div class="col-md-4 bg-light p-3 mx-3">
                    <strong> INVOICE ADDRESS</strong>
                    <p> John Brown <br> 13/25 New Avenue <br> New Heaven<br> 45Y 73J
                        <Br> England
                        <br> Great Britain</p>

                    <strong>  SHIPPING ADDRESS</strong>
                    <p> John Brown <br> 13/25 New Avenue <br> New Heaven<br> 45Y 73J
                        <Br> England
                        <br> Great Britain</p>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
{{> footer}}