<section>
    <div class="container">    
        <p class="font-weight-bolder " style="font-size: x-large;">Frequently Bought Together</p>
        <div class="card border-0">
            <div class="card-body text-center  border-0">
                <div class="center">
                    <div class="card mx-3 p-0" style="height: 460px;width: 284px;">
                        <div class="card-body p-0">
                            <img src="./assets/images/products/EL-005-614_A_1024x1024@2x.jpg" style="width: 100%;height: 50%;">
                        <p class="m-3 m-md-1"> "Coloured Fish" Handmade & Hand-Painted Garden Decorative Wall Hanging In Terracotta </p>
                        <span >Rs.700</span> <span class="text-muted " style="text-decoration: line-through;">Rs.1200</span>

                <center>
                    <p><a href="/cart" class="btn buynow-btn mb-2 mt-2 w-50 d-none d-lg-block d-md-block">ADD TO CART</a>
                        <a href="/cart" class="btn buynow-btn mb-2 mt-2 w-100 d-block d-md-none">ADD TO CART</a></p>
                </center>
            </div>
        </div>
        <div class="card mx-3 p-0" style="height: 460px;width: 284px;">
            <div class="card-body p-0">
                <img src="./assets/images/products/EL-005-058_A_720x.jpg" style="width: 100%;height: 50%;">
                <p class="m-3 m-md-1"> "Coloured Fish" Handmade & Hand-Painted Garden Decorative Wall Hanging In Terracotta </p>
                <span>Rs.700</span> <span class="text-muted " style="text-decoration: line-through;">Rs.1200</span>
                <center>
                    <p><a href="/cart" class="btn buynow-btn mb-2 mt-2 w-50 d-none d-md-block">ADD TO CART</a>
                        <a href="/cart" class="btn buynow-btn mb-2 mt-2 w-100 d-block d-md-none">ADD TO CART</a></p>
                </center>
            </div>
        </div>
        <div class="card mx-3 p-0" style="height: 460px;width: 284px;">
            <div class="card-body p-0">
                <img src="./assets/images/products/65_720x.png" style="width: 100%;height: 50%;">
                <p class="m-3 m-md-1"> "Coloured Fish" Handmade & Hand-Painted Garden Decorative Wall Hanging In Terracotta </p>
                <span>Rs.700</span> <span class="text-muted " style="text-decoration: line-through;">Rs.1200</span>
                <center>
                    <p><a href="/cart" class="btn buynow-btn mb-2 mt-2 w-50 d-none d-md-block">ADD TO CART</a>
                        <a href="/cart" class="btn buynow-btn mb-2 mt-2 w-100 d-block d-md-none">ADD TO CART</a></p>
                </center>
            </div>
        </div>
        <div class="card mx-3 p-0" style="height: 460px;width: 284px;">
            <div class="card-body p-0">
                <img src="./assets/images/products/49_720x.png" style="width: 100%;height: 50%;">
                <p class="m-3 m-md-1"> "Coloured Fish" Handmade & Hand-Painted Garden Decorative Wall Hanging In Terracotta </p>
                <span>Rs.700</span> <span class="text-muted " style="text-decoration: line-through;">Rs.1200</span>
                <center>
                    <p><a href="/cart" class="btn buynow-btn mb-2 mt-2 w-50 d-none d-md-block">ADD TO CART</a>
                        <a href="/cart" class="btn buynow-btn mb-2 mt-2 w-100 d-block d-md-none">ADD TO CART</a></p>
                </center>
            </div>
        </div>
        <div class="card mx-3 p-0" style="height: 460px;width: 284px;">
            <div class="card-body p-0">
                <img src="./assets/images/products/EL-005-058_A_720x.jpg" style="width: 100%;height: 50%;">
                <p class="m-3 m-md-1"> "Coloured Fish" Handmade & Hand-Painted Garden Decorative Wall Hanging In Terracotta </p>
                <span>Rs.700</span> <span class="text-muted " style="text-decoration: line-through;">Rs.1200</span>
                <center>
                    <p><a href="/cart" class="btn buynow-btn mb-2 mt-2 w-50 d-none d-md-block">ADD TO CART</a>
                        <a href="/cart" class="btn buynow-btn mb-2 mt-2 w-100 d-block d-md-none">ADD TO CART</a></p>
                </center>
            </div>
        </div>
        <div class="card mx-3 p-0" style="height: 460px;width: 284px;">
            <div class="card-body p-0">
                <img src="./assets/images/products/49_720x.png" style="width: 100%;height: 50%;">
                <p class="m-3 m-md-1"> "Coloured Fish" Handmade & Hand-Painted Garden Decorative Wall Hanging In Terracotta </p>
                <span>Rs.700</span> <span class="text-muted " style="text-decoration: line-through;">Rs.1200</span>
                <center>
                    <p><a href="/cart" class="btn buynow-btn mb-2 mt-2 w-50 d-none d-md-block">ADD TO CART</a>
                        <a href="/cart" class="btn buynow-btn mb-2 mt-2 w-100 d-block d-md-none">ADD TO CART</a></p>
                </center>
            </div>
        </div>
        <div class="card mx-3 p-0" style="height: 460px;width: 284px;">
            <div class="card-body p-0">
                <img src="./assets/images/products/EL-005-614_A_1024x1024@2x.jpg" style="width: 100%;height: 50%;">
                <p class="m-3 m-md-1"> "Coloured Fish" Handmade & Hand-Painted Garden Decorative Wall Hanging In Terracotta </p>
                <span>Rs.700</span> <span class="text-muted " style="text-decoration: line-through;">Rs.1200</span>
                <center>
                    <p><a href="/cart" class="btn buynow-btn mb-2 mt-2 w-50 d-none d-md-block">ADD TO CART</a>
                        <a href="/cart" class="btn buynow-btn mb-2 mt-2 w-100 d-block d-md-none">ADD TO CART</a></p>
                </center>
            </div>
        </div>
        <div class="card mx-3 p-0" style="height: 460px;width: 284px;">
            <div class="card-body p-0">
                <img src="./assets/images/products/EL-005-614_A_1024x1024@2x.jpg" style="width: 100%;height: 50%;">
                <p class="m-3 m-md-1"> "Coloured Fish" Handmade & Hand-Painted Garden Decorative Wall Hanging In Terracotta </p>
                <span>Rs.700</span> <span class="text-muted " style="text-decoration: line-through;">Rs.1200</span>
                <center>
                    <p><a href="/cart" class="btn buynow-btn mb-2 mt-2 w-50 d-none d-md-block">ADD TO CART</a>
                        <a href="/cart" class="btn buynow-btn mb-2 mt-2 w-100 d-block d-md-none">ADD TO CART</a></p>
                </center>
            </div>
        </div>
        <div class="card mx-3 p-0" style="height: 460px;width: 284px;">
            <div class="card-body p-0">
                <img src="./assets/images/products/49_720x.png" style="width: 100%;height: 50%;">
                <p class="m-3 m-md-1"> "Coloured Fish" Handmade & Hand-Painted Garden Decorative Wall Hanging In Terracotta </p>
                <span>Rs.700</span> <span class="text-muted " style="text-decoration: line-through;">Rs.1200</span>
                <center>
                    <p><a href="/cart" class="btn buynow-btn mb-2 mt-2 w-50 d-none d-md-block">ADD TO CART</a>
                        <a href="/cart" class="btn buynow-btn mb-2 mt-2 w-100 d-block d-md-none">ADD TO CART</a></p>
                </center>
            </div>
        </div>
        </div>
        </div>
        </div>

        </div>
    </section>