<div class="col-xl-3 col-lg-4 mb-5">
    <div class="card border-secondary">
        <center> <img class="card-img-top mt-5 mr-5 ml-5 mb-2 p-0" src="./assets/images/user/images.jpg" alt="">
            <p class="mb-0">Jane Doe</p>
            <p class="text-muted mt-0">Georgia,Washington D.C</p>
        </center>
        <div class="card-body p-0">
            <a href="/profile" class="btn w-100 border-user m-0 text-left active-panel"><i
                    class="mx-2 fa fa-user-o" aria-hidden="true"></i> Profile</a>
            <a href="/orders" class="btn w-100 border-user m-0 text-left bg-light">
                <i class="mx-2 fa fa-shopping-bag" aria-hidden="true"></i> 
                Orders 
            <a href="/completed" class="btn w-100 border-user m-0 text-left bg-light">
                <i class="mx-2 fa fa-shopping-bag" aria-hidden="true"></i> 
                Orders Completed
            <a href="/logout" class="btn w-100 border-user m-0 text-left bg-light"><i class="mx-2 fa fa-sign-out"
                    aria-hidden="true"></i>Logout</a>
        </div>
    </div>
</div>