<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/my.js"></script>

    <style>
        .imagePreview {
            width: 100%;
            height: 195px;
            background-position: center center;
            background: url('https://1.bp.blogspot.com/-jQ7R9I5XCq0/YLifqnzTX0I/AAAAAAAAJkw/aAGsUGOEnZgUeQw6BthVwtViUVXKMfppQCLcBGAsYHQ/s320/WhatsApp%2BImage%2B2021-06-03%2Bat%2B00.24.58.jpeg');
            background-color: #fff;
            background-size: cover;
            background-repeat: no-repeat;
            display: inline-block;
            box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
            border-radius: 50%;
        }

        .imgUp {
            margin-bottom: 15px;
            margin-top: 15px;
            border-radius: 50%;
            

        }

        .del {
            position: absolute;
            top: 0px;
            right: 15px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            background-color: rgba(255, 255, 255, 0.6);
            cursor: pointer;
        }

        .content {
            position: relative;
            width: 80%;
            overflow: hidden;
        }

        .content .content-overlay {
            background: rgba(0, 0, 0, 0.7);
            position: absolute;
            height: 99%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }

        .content:hover .content-overlay {
            opacity: 1;
        }

        .content-details {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }

        .content:hover .content-details {
            top: 50%;
            left: 50%;
            opacity: 1;
        }

        .fadeIn-bottom {
            top: 80%;
        }
    </style>

    <script>
        $(document).on("click", "i.del", function () {
            $(this).parent().remove();
        });
        $(function () {
            $(document).on("change", ".uploadFile", function () {
                var uploadFile = $(this);
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return;

                if (/^image/.test(files[0].type)) {
                    var reader = new FileReader();
                    reader.readAsDataURL(files[0]);

                    reader.onloadend = function () {
                        uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                    }
                }

            });
        });
    </script>
</head>

<div class="col-xl-3 col-lg-4 mb-5">
    <div class="card border-secondary">
        <center>
            <div class="content imgUp ">
                <a class="imagePreview">
                    <div class="content-overlay"></div>
                    <img class="content-image imagePreview">
                    <div class="content-details fadeIn-bottom">
                        <label class="btn btn-outline-light">
                            <i class="fa fa-camera-retro" aria-hidden="true"></i><input type="file"
                                class="uploadFile img" value="Upload Photo"
                                style="width: 0px;height: 0px;overflow: hidden;">
                        </label>
                    </div>
                </a>
            </div>
            <p class="mb-0">{{name}}</p>
            <p class="text-muted mt-0">{{email}}</p>
        </center>

        {{!-- <center>
            <img class="card-img-top mt-5 mr-5 ml-5 mb-2 p-0" src="./assets/images/user/images.png" alt="">
            <p class="mb-0">{{name}}</p>
            <p class="text-muted mt-0">{{email}}</p>
        </center> --}}
        <div class="card-body p-0">
            <a href="/profile" class="btn w-100 border-user m-0 text-left bg-light"><i class="mx-2 fa fa-user-o"
                    aria-hidden="true"></i> Profile</a>
            <a href="/orders" class="btn w-100 border-user m-0 text-left bg-light">
                <i class="mx-2 fa fa-shopping-bag" aria-hidden="true"></i>
                Orders
                <a href="/logout" class="btn w-100 border-user m-0 text-left bg-light"><i class="mx-2 fa fa-sign-out"
                        aria-hidden="true"></i>Logout</a>
        </div>
    </div>
</div>